/* @keyframes border {
    0% { border-color: whitesmoke; color: whitesmoke; }
    10% { border-color:crimson; color: crimson; }
    25% { border-color:blueviolet; color: blueviolet; }
    50% { border-color:cadetblue; color: cadetblue; }
    75% { border-color:cornflowerblue; color: cornflowerblue; }
    100% { border-color:deepskyblue; color: deepskyblue; }

} */
body{
    overflow-y: hidden;
}

#dark-bg{
    position: absolute;
    background-image: url(../images/intro_dark_bg.png);
    width: 100%;
    height: 100vh;
    
}

#intro-container{
    /* display: none; */
    position: fixed;
    left: 31%;
    top: 77px;
}
#intro{
    text-align: center;
    color: aliceblue;
    background-color:coral;
    border: 8px solid whitesmoke;
    border-radius: 20px;
    width: 552px;
    height: 354px;
    font-size: 19px;
    padding: 0px 10px;
    animation-name: border;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
#intro-close-btn{
    background-color: coral;
    border: 3px solid whitesmoke;
    border-radius: 10px;
    border-top: 0px;
    color: aliceblue;
    position: absolute;
    bottom: -39px;
    right: 11px;
    font-size: 30px;
}
#intro-close-btn:hover{
    color: black;
    cursor: pointer;
}

/* intro responsive */
@media only screen  and (max-width: 500px){
    #intro{
        width: 222px;
        height: 451px;
    }
    #intro-container{
        left: 16%;
        top: 126px;
    }
}
